
<mat-toolbar class="custom-navbar">
  <div class="nav-layout">
    <div class="mb-3">
      <div class="nav-item-info">
        <div class="nav-logo">
          <span class="text-white">My App Logo</span>
          <button mat-icon-button class="nav-hidden-item button nav-burger" (click)="mobileMenuPress()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <mat-list class="nav-list-item-info">
            <mat-list-item>
              <div class="mr-2">
                <span class="material-icons custom-size-icon">phone</span>
              </div>
              <div>
                <p class="text-para primary-text m-0">(123) 123-1234</p>
                <p class="text-para secondary-text m-0">text@testing.com</p>
              </div>
            </mat-list-item>
            <mat-divider [vertical]="dividerVertical"></mat-divider>
            <mat-list-item>
              <div class="mr-2">
                <span class="material-icons custom-size-icon">house</span>
              </div>
              <div>
                <p class="text-para primary-text m-0">Company address</p>
                <p class="text-para secondary-text m-0">Province & city address</p>
              </div>
            </mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-list-item>
              <div class="mr-2">
                <span class="material-icons custom-size-icon">schedule</span>
              </div>
              <div>
                <p class="text-para primary-text m-0">Mon - Sat 8:00 - 18:00</p>
                <p class="text-para secondary-text m-0">Sunday CLOSED</p>
              </div>
            </mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-list-item>
              <span class="material-icons custom-size-icon">
                facebook
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>

    <div>
      <div class="second-nav">
        <mat-list class="nav-list p-0">
          <mat-list-item class="nav-list-item">Home</mat-list-item>
          <!-- <mat-divider [vertical]="true"></mat-divider> -->
          <mat-list-item class="nav-list-item">About</mat-list-item>
          <!-- <mat-divider [vertical]="true"></mat-divider> -->
          <mat-list-item class="nav-list-item">Service</mat-list-item>
          <!-- <mat-divider [vertical]="true"></mat-divider> -->
          <mat-list-item class="nav-list-item">Contact</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

<!---Second Nav -->


<!---Second Nav -->
  <!---mobile view-->

<div class="nav-hidden-item-onpress" [style.display]="mobileLinkDisplay" [@popOverState]="stateName">
    <ul class="nav-link">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Service</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!---mobile view-->

</mat-toolbar>

